#!/bin/bash            # this line only there to enable syntax highlighting in this file

####################################################################################################
#--------------------------------------- Hydro solver method
####################################################################################################
HYDRO_MESHLESS_FINITE_MASS           # Lagrangian (constant-mass) finite-volume Godunov method
#KERNEL_FUNCTION=5                     # Implementation of the Morris 1996 quintic spline kernel, requires ~1.74x more neighbours !
####################################################################################################



####################################################################################################
#--------------------------------------- Additional Options
####################################################################################################
HAVE_HDF5
GAMMA=(5.0/3.0)
COOLING
COOL_GRACKLE                        
COOL_GRACKLE_CHEMISTRY=1            # choose COOL_GRACKLE cooling chemistry: (0)=tabular, (1)=Atomic, (2)=(1)+H2+H2I+H2II, (3)=(2)+DI+DII+HD
#COOL_GRACKLE_SELFSHIELD=3

#OPENMP=4

# Basic star formation and decoupled wind feedback
GALSF
METALS
GALSF_GENERATIONS=1
GALSF_JEANS_MIN_T=0             # ISM pressure to resolve M_Jeans with JEANS_MIN_T*N_ngb particles
GALSF_SFR_KMT                   # calc fH2 via the KMT model, form stars if fH2 > 0
GALSF_SFR_KMT_SCALECLUMP=1.0
GALSF_SUBGRID_WINDS             # sub-grid winds ('kicks' as in Oppenheimer+Dave,Springel+Hernquist,Boothe+Schaye,etc)
GALSF_SUBGRID_WIND_SCALING=2    # winds with velocity scaling based on halo properties (Oppenheimer+Dave); req.GALSF_SUBGRID_WINDS
GALSF_SUBGRID_RECOUPLE=1.0      # recouple when dv<RECOUPLE*csound 
#GALSF_SUBGRID_HOTWIND=0.3       # fraction of remaining E_SN used to heat wind
GALSF_WINDS_ORIENTATION=1       # uses along density gradient
GALSF_TYPEIA                    # Type Ia enrichment and energy input, for INSTANTANEOUS_METALS
GALSF_AGBFEEDBACK               # enrichment from AGB stars 
GALSF_AGBWINDHEATING=100        # heating from AGB winds (see Conroy,vanDokkum,Kravtsov 14)
GALSF_INSTANTANEOUS_METALS
SET_INIT_METALLICITY
ISOLATED_SYSTEM

# Black hole stuff
BLACK_HOLES                    # enables Black-Holes (master switch)
BH_DYNFRICTION=1
BH_SWALLOWGAS
BH_BONDI=0
BH_THERMALFEEDBACK
#BH_OUTPUT_MOREINFO

# Other stuff
ADAPTIVE_GRAVSOFT_FORALL=1000
SEPARATE_STELLARDOMAINDECOMP
MULTIPLEDOMAINS=32 
DOUBLEPRECISION_FFTW
#INPUT_IN_DOUBLEPRECISION
OUTPUT_IN_DOUBLEPRECISION
OUTPUT_ADDITIONAL_RUNINFO
CUSTOM_TABLE_PATH
CUSTOM_NOFLUSH
CUSTOM_TIME_LIMIT=0.95
####################################################################################################
