#!/bin/bash            # this line only there to enable syntax highlighting in this file

####################################################################################################
#  Enable/Disable compile-time options as needed: this is where you determine how the code will act
#  From the list below, please activate/deactivate the
#       options that apply to your run. If you modify any of these options,
#       make sure that you recompile the whole code by typing "make clean; make".
#
# This file was originally part of the GADGET3 code developed by
#   Volker Springel (volker.springel@h-its.org). The code has been modified
#   substantially by Phil Hopkins (phopkins@caltech.edu) for GIZMO (to add new modules and clean
#   up the naming conventions and changed many of them to match the new GIZMO conventions)
#
####################################################################################################



####################################################################################################
#--------------------------------------- Hydro solver method
####################################################################################################
HYDRO_MESHLESS_FINITE_MASS           # Lagrangian (constant-mass) finite-volume Godunov method
#HYDRO_MESHLESS_FINITE_VOLUME       # Moving (quasi-Lagrangian) finite-volume Godunov method
##-----------------------------------------------------------------------------------------------------
#--------------------------------------- SPH methods:
#SPHEQ_DENSITY_INDEPENDENT_SPH      # force SPH to use the 'pressure-sph' formulation ("modern" SPH)
#SPHEQ_TRADITIONAL_SPH              # force SPH to use the 'density-sph' (GADGET-2 & GASOLINE SPH)
#--------------------------------------- SPH diffusion options (use with SPH; not relevant for Godunov/Mesh modes)
#SPHAV_DISABLE_CD10_VISCOSITY       # Disable Cullen & Dehnen 2010 'inviscid sph' (viscosity suppression outside shocks); just use Balsara switch
#SPHAV_DISABLE_PM_CONDUCTIVITY      # Disable mixing entropy (J.Read's improved Price-Monaghan conductivity with Cullen-Dehnen switches)
##-----------------------------------------------------------------------------------------------------
#--------------------------------------- Kernel Options
KERNEL_FUNCTION=5                     # Implementation of the Morris 1996 quintic spline kernel, requires ~1.74x more neighbours !
####################################################################################################



####################################################################################################
#--------------------------------------- Additional Options
####################################################################################################
HAVE_HDF5
GAMMA=(5.0/3.0)
COOLING

GRACKLE
GRACKLE_CHEMISTRY=1

PROTOCLUSTER

# Basic star formation and decoupled wind feedback
GALSF
METALS
GALSF_EFFECTIVE_EQS
GALSF_GENERATIONS=1
#OUTPUT_SUBGRID_WINDINFO
GALSF_SUBGRID_WINDS
GALSF_INSTANTANEOUS_METALS
GALSF_TYPEIA
GALSF_AGBFEEDBACK
GALSF_WINDS_POLAR
GALSF_SUBGRID_RECOUPLE=0.5
SEPARATE_STELLARDOMAINDECOMP

ADAPTIVE_GRAVSOFT_FORALL

MULTIPLEDOMAINS=128              # Multi-Domain option for the top-tree level: iso=16,COSMO=64-128
DOUBLEPRECISION_FFTW           # FFTW in double precision to match libraries

INPUT_IN_DOUBLEPRECISION
OUTPUT_IN_DOUBLEPRECISION

####################################################################################################
